<footer class="bottom">
	<label class="bottomLine"></label>
	<div class="friendBox">
		<div class="friendMain">
			<ul class="friendList">
				<li><a href="" target="_blank">多哥百特</a></li>
				<li><a href="" target="_blank">e融财讯</a></li>
				<li><a href="" target="_blank">中国网贷联盟</a></li>
				<li><a href="" target="_blank">网贷之窗</a></li>
				<li><a href="" target="_blank">网贷导航网</a></li>
				<li><a href="" target="_blank">海树</a></li>
				<li><a href="" target="_blank">网贷点评网</a></li>
				<li><a href="" target="_blank">网贷指南</a></li>
			</ul>
			<img src="__IMG__/friendLinkTitle.jpg">
		</div>
	</div>

	<p class="bottomInfo">
		<a href="http://www.hyzb.com">关于华耀资本</a>　|　
		<a href="javascript:;">官方微博</a>　|　
		<a href="{:U('Home/Info/contact')}">联系我们</a>　|　
		<a href="{:U('Home/Info/cert')}">公司证件</a>　|　
		<a href="javascript:;">在线客服</a>　|　copyRight © 华耀资本 版权所有<br>
    		地址：湖南省益阳市高新区益阳大道世纪金源大厦A座2702房 客服热线：0737-3299111 (周一到周六：9:00 到 18:00)&nbsp;湘ICP备13006487号-1
	</p>
</footer>

<script type="text/javascript">
	var nextUrl   = "{$Think.server.http_referer}" || "{:U('Account/Index/index')}";
	var loginUrl  = "{:U('Home/User/login')}"
	var indexUrl  = "{:U('Home/Index/index')}"
	var actionUrl = "{$Think.const.ACTION_NAME}"
</script>
<js file="__STATIC__/js/jQuery.min.js" />
<js file="__STATIC__/js/base.js" />
<js file="__STATIC__/js/mark.js" />
<js file="__STATIC__/js/jquery-ui-1.9.2.custom.min.js" />

<block name="script"></block> <!-- 加载JS代码 -->
<div class="hidden">
	<block name="hidden"></block> <!-- 加载网站统计等隐藏元素 -->
</div>
