<extend name="Base:account" />

<block name="header">
	<div class="breadcrumb">
		<li>
			<a href="{:U('Home/Account/index')}">首页</a>
			<span class="divider">»</span>
		</li>
		<li class="active">
			密码修改
		</li>
	</div>
</block>

<block name="content">
	<form class="form-horizontal" autocomplete="off" method="post" action="">
		<input type="hidden" value="" name="formtoken">
		<div class="alert alert-info">请输入你的旧密码，为了安全起见，接着要输入两遍新密码，以便我们校检你输入的是否正确。</div>
		<fieldset class="module aligned wide">
			<div class="control-group">
				<div class="control-label">
					<label class="required" for="id_old_password">旧密码: </label>
				</div>
				<div class="controls">
					<input id="id_old_password" type="password" name="old_password">
					<div class="help-inline"></div>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					<label class="required" for="id_new_password">新密码: </label>
				</div>
				<div class="controls">
					<input id="id_new_password" type="password" name="new_password">
					<div class="help-inline"></div>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					<label class="required" for="id_new_repassword">重复新密码: </label>
				</div>
				<div class="controls">
					<input id="id_new_repassword" type="password" name="new_repassword">
					<div class="help-inline"></div>
				</div>
			</div>
		</fieldset>
		<div class="submit-row">
			<input class="btn btn-info" type="submit" value="修改我的密码" />
		</div>
	</form>
</block>
