<aside class="leftFloatNav">
		<ul class="navList">
			<li><a href="{:U('Home/Info/about')}">关于我们</a></li>
			<li><a href="{:U('Home/Info/cert')}">公司证件</a></li>
			<li><a href="{:U('Home/Info/contact')}">联系我们</a></li>
			<li><a href="{:U('Home/Info/cost')}">网站资费</a></li>
			<li><a href="{:U('Home/Info/notice')}">网站公告</a></li>
			<li><a href="{:U('Home/Info/trend')}">公司动态</a></li>
			<li><a href="{:U('Home/Info/mode')}">模式介绍</a></li>
			<li><a href="{:U('Home/Info/safe')}">本金保障</a></li>
		</ul>
</aside>
