<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$title} | {:C('WEB_SITE_DESCRIPTION')}</title>
<meta name="description" content="{:C('WEB_DESCRIPTION')}" >
<meta name="keywords" content="{:C('WEB_DESCRIPTION')}">
<link rel="shortcut icon" href="__STATIC__/favorite.ico" type="image/x-icon" />
<css file="__STATIC__/css/base.css" />
<css file="__STATIC__/css/mark.css" />
<css file="__STATIC__/css/mybootstrap.min.css" />
<block name="style"></block>
