            	<div id="suit-left" class="suit-column">
                  	<form class="form-search nav-quick-search" autocomplete="on" action="javascript:;" method="GET">
	                    <input name="q" class="input-medium search-query" id="quick-search" type="text">
	                    <i class="input-icon glyphicon glyphicon-search"></i>
	                    <input class="submit" value="" type="submit">
                    </form>
					<div class="left-nav" id="left-nav">
  					<ul>
        				<li class="active">
        					<a href="{:U('Home/Account/index')}"><i class="glyphicon glyphicon-home"></i>账户概览</a>
        				</li>
          				<li>
          					<a href="{}"><i class="glyphicon glyphicon-user"></i>用户设置</a>
							<ul>
								<li><a href="">资料修改</a></li>
								<li><a href="">头像修改</a></li>
								<li><a href="{:U('Home/Account/password_change')}">密码修改</a></li>
								<li><a href="">VIP信息</a></li>
							</ul>
          				</li>
          				<li>
            				<a href=""><i class="glyphicon glyphicon-comment"></i>消息中心</a>
	              			<ul>
	                  			<li><a href="">新消息</a></li>
				                <li><a href="">收件箱</a></li>
				                <li><a href="">发件箱</a></li>
	              			</ul>
          				</li>
          				<li>
            				<a href=""><i class="glyphicon glyphicon-th-large"></i>借贷管理</a>
            				<ul>
            					<li><a href="">投标列表</a></li>
								<li><a href="">待收列表</a></li>
			                  	<li><a href="">发标列表</a></li>
			                  	<li><a href="">还款列表</a></li>
			                  	<li><a href="">申请信用额度</a></li>
			                  	<li><a href="">信用额度列表</a></li>
							</ul>
          				</li>
          				<li>
            				<a href=""><i class="glyphicon glyphicon-heart"></i>资金管理</a>
            				<ul>
            					<li><a href="">账户充值</a></li>
                  				<li><a href="">充值列表</a></li>
                  				<li><a href="">账户提现</a></li>
                  				<li><a href="">提现列表</a></li>
                  				<li><a href="">资金使用列表</a></li>
              				</ul>
          				</li>
          				<li>
            				<a href=""><i class="glyphicon glyphicon-ok-sign"></i>认证管理</a>
            				<ul>
            					<li><a href="">实名认证</a></li>
			                  	<li><a href="">手机认证</a></li>
			                  	<li><a href="">视频认证</a></li>
			                  	<li><a href="">现场认证</a></li>
							</ul>
          				</li>
          				<li>
            				<a href=""><i class="glyphicon glyphicon-magnet"></i>银行卡管理</a>
            				<ul>
            					<li><a href="">新增银行卡</a></li>
                  				<li><a href="">银行卡列表</a></li>
              				</ul>
          				</li>
  					</ul>
				</div>
